@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=National+Park:wght@200..800&family=Roboto:wdth,wght@75..100,100..900&display=swap');

*{
    font-family: "National Park", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green{
    color: rgb(0, 186, 0);
}

.hidden{
    display: none;
}
.container{
    margin: 16px;
    padding: 20px 20px;
    background-color: rgba(0, 186, 0, .1);
    border-radius: 4px;

}

button {
    color: white;
    background-color: rgb(0, 186, 0);
    border-radius: 4px;
    padding: 1px 3px;
    transition: all 300ms ease;
    margin: 12px, 16px;
    gap: 10px;
}

button:hover{
    background-color: rgb(0, 186, 0);
    transform: translateY(+1px);}

.page-top{
    display: flex;
    flex-direction: row;
}
.page-top__page-title{
    display: inline-block;
    width: 100%
}
.page-top__user-corner{
    text-align:right;
}

.home-button{
    border: none;
}
.home-button:hover{
    background-color: rgb(55, 0, 128);
}

.columns{
background-color: rgba(0, 186, 0, .1);
margin-top: 8px;
display: flex;
flex-direction: row;
}

.section-container{
    background-color: rgba(0, 186, 0, .3);
    min-width: 30%;
    max-width: 30%;
    padding: 8px 8px;
}

#chapter{
    min-width: 10%;
    max-width: 70%;
}

#tags{
    text-decoration: none;
    list-style-type: none;

}

.tag{
    display: row;
    background-color: rgba(0, 186, 0, .3);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8px;

}

.view-button{
    border: none;
    margin: 4px;
}

.view-button:hover{
    background-color: rgba(0, 186, 0, 0.551);
}

.columns__cards{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 24px 24px;
    border: 1pt solid rgba(0, 186, 0, .1);
    margin: 12px auto;
    min-width: 60%;
    max-width: 60%;
    background-color: rgba(0, 186, 0, .1);
}

#answer{
    min-width: 100%;
    text-align: flex-end;
    background-color: rgba(0, 186, 0, .2);
}

.upside-down{
    display: flex;
    flex-direction: column-reverse;
}