<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARA</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div class="container">
      <div class="page-top">
      <h1 class="page-title">ARA: <span class="purple">User's Home</span></h1>
      <div class="user-corner">
        <h3 id="user">username</h3>
        <button class="logout">Logout</button>
      </div>
    </div>
      <div class="pdf_selection">
        <label for="doc-choice">Choose a Document to Open</label>
        <select id="doc-choice">
            <option value="1" class="doc1">Document 1</option>
            <option value="2" class="doc1">Document 2</option>
            <option value="3" class="doc1">Document 3</option>
        </select>
      </div>
    </div>
  </body>
</html>
