<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}" />
  </head>
  <body>
    <div class="container">
      <div class="page-top">
      <h1 class="page-top__page-title">ARA: <span class="purple">Home</span></h1>
      <div class="page-top__user-corner">
        <h3 id="user">username</h3>
        <button class="logout" onclick="logout()">logout</button>
      </div>
    </div>

  
    <!-- code for PDF upload below -->
    <div id="upload-form">
      <h2>Upload a PDF</h2>
      <input type="file" id="pdfInput" accept="application/pdf">
      <button onclick="uploadPDF()">Upload</button>
      <p id="message"></p>
      <div id="upload-status"></div>
    </div>
      <div class="pdf_selection">
        <label for="doc-choice">Choose a Document to Open</label>
        <div class="pdf_selection__display" id="pdf-display"></div>
        <div id="chosen-doc"></div>
        <div class="next">
          <button class="next__button" onclick="goSQ()">Begin: <span class="chosen">Survey & Question</span></button>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='home.js')}}"></script>
    <script src="https://kit.fontawesome.com/ff325f6dbb.js" crossorigin="anonymous"></script>
  </body>
</html>