<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="container">
    <h1 class="page-title">
        ARA:
        <span class="purple">Login</span>
    </h1>
<main>
    <div class="login-area">
    <h2 class="login-area__head">Please enter your Username.</h2>
    <div class="login-area__input-row">
        <form action="/login" method="post">
            <label for="username">USER:</label>
            <select name="username" id="username">
                <option value="" disabled selected>Select...</option>
                {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">LOGIN</button>
        </form>
    </div>
</div>
<div class="description">
    <p>ARA is a software tool that guides students through some portion of the SQ3R active reading 
        technique. SQ3R stands for Survey, Question, Read, Recite, Review. SQ3R provides students 
        (and other readers) with a structured approach for reading textbooks and other technical material. 
        One basic idea of SQ3R is that learning technical material is best accomplished by first gaining 
        an understanding the high-level structure of a chapter (or other technical text), and then pursuing 
        a more-detailed understanding of the material, such as by generating questions, and reading the 
        material primarily  to answer those questions (McKeachie & Svinicki, 2013). </p>
</div>
</main>
</div>
</body>
</html>