<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="container">
    <h1 class="page-title">
        ARA:
        <span class="purple">Login</span>
    </h1>
<main>
    <div class="login-area">
    <h2 class="login-area__head">Please enter your Username.</h2>
    <div class="login-area__input-row">
        <form action="/login" method="post">
            <label for="username">USER:</label>
            <select name="username" id="username">
                <option value="bob">Bob</option>
                <option value="alice">Alice</option>
                <option value="eva">Eva</option>
            </select>
            <button class="btn" type="submit">LOGIN</button>
        </form>
    </div>
</div>
<div class="description">
    <p>This is our ARA program...</p>
</div>
</main>
</div>
</body>
</html>