<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ARA - Active Reading Assistant</title>
  <link rel="stylesheet" href="{{url_for('static', filename='readRecite.css')}}">
</head>
<body>
  <div class="container">
    <div class="page-top">
    <h1 class="page-top__page-title">ARA: <span class="yellow">Read & Recite</span></h1>
    <div class="page-top__user-corner">
      <h3 id="user">{{ get_username() }}</h3>
      <button class="home-button" onclick="goHome()">HOME</button>
    </div>
    </div>
<main>
  <div class="columns">
    <div class="section-container">
      <div class="section-topper" id="section-topper">
      <label for="new-section">Chapter Select</label>

    
    <select id="chapter" onchange="setChap()">
        <option id ="no-select" value="" selected>Choose a Chapter</option>
        <div class="chaps">choose</div>
    </select>
    <span id = "page">  </span>
    <!-- <button id="chapters-btn" onclick="fillChapters()">LOAD CHAPTERS</button> -->
    <script>
      // window.addEventListener('load', function (){
      // fillChapters();
      // });
    </script>
  </div>
<div class="sections">
<ul id= "tags" class="tags"></ul>
<!-- <label for="new-section">Section Name</label>
<input type="text" id="new-section">
<button class="add-section" id="add-section" onclick="addSection()">ADD SECTION</button> -->
</div>
</div>

  <div class="pdf-container">
    <embed src="{{ url_for('pdf_object_operations', pdf_id=pdf_id) }}" type="application/pdf" width="100%" height="100%" />
  </div>
  <div class="content">

    <h1>Notes</h1>
    <p>Use this space to take notes:</p>
    <textarea id="notes" placeholder="Type here..."></textarea>
    <button class="sq" onclick="goSQ()"><span class="chosen">Go Back</span></button>
    <button class="review" onclick="goReview()">Next: REVIEW</button>
  </div>
</main>
</div>
  <script>
    const pdf_id = "{{ pdf_id }}";
  </script>
    <script>
      let tag_id = "{{ section_id }}";
    </script>
        <script>
          let chap_id = "{{ chapter_id }}";
        </script>
  <!-- <script src="{{url_for('static', filename='review.js')}}">
  </script> -->
  <script src="{{url_for('static', filename='loadingTags.js')}}">
  </script>
  <script src="{{url_for('static', filename='readRecite.js')}}">
  </script>

</body>
</html>
