<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='review.css')}}">
</head>
<body>
    <div class="container">
        <div class="page-top">
        <h1 class="page-top__page-title">ARA: <span class="green">Review</span></h1>
        <div class="page-top__user-corner">
          <h3 id="user">{{ get_username() }}</h3>
          <button class="home-button" onclick="goHome()">HOME</button>
        </div>
        </div>
    <main>
        <div class="columns">
            <div class="section-container">
                <div class="section-topper" id="section-topper">
                <label for="new-section">Chapter Select</label>

              
              <select id="chapter" onchange="setChap()">
                  <option id ="no-select" value="" selected>Choose a Chapter</option>
                  <div class="chaps">choose</div>
              </select>
              <span id = "page">  </span>
              <!-- <button id="chapters-btn" onclick="fillChapters()">LOAD CHAPTERS</button> -->
              <script>
                window.onload = function () {
                fillChapters();
                };
              </script>
            </div>
          <div class="sections">
          <ul id= "tags" class="tags"></ul>
          <label for="new-section">Section Name</label>
          <input type="text" id="new-section">
          <button class="add-section" id="add-section" onclick="addSection()">ADD SECTION</button>
          </div>
          </div>
        <div class="columns__cards">
            <div class="columns__cards--buttons"></div>
            <div class="columns__cards--content"></div>
        </div>
        </div>
</main>
</div>
<script>
    const pdf_id = "{{ pdf_id }}";
  </script>
    <script>
      let tag_id = "{{ section_id }}";
    </script>
        <script>
          let chap_id = "{{ chapter_id }}";
        </script>
<script src="{{url_for('static', filename='loadingTags.js')}}">
  </script>
<script src="{{url_for('static', filename='review.js')}}"></script>
</body>
</html>