<!-- HTML template for rendering Survey & Question page.
Created for CS 422 Project 1: ARA in Spring 2025.

Authors: Claire Cody, Clio Tsao
Last modified: 05/05/2025 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ARA - Active Reading Assistant</title>
  <link rel="stylesheet" href="{{url_for('static', filename='surveyQuestion.css')}}">
</head>
<body>
  <div class="container">
    <div class="page-top">
    <h1 class="page-top__page-title">ARA: <span class="red">Survey & Question</span></h1>
    <div class="page-top__user-corner">
      <h3 id="user">{{ get_username() }}</h3>
      <button class="home-button" onclick="goHome()">HOME</button>
    </div>
    </div>
<main>
  <div class="columns">
    <div class="section-container">
      <div class="section-topper" id="section-topper">
      <label for="new-section">Chapter Select</label>

    <select id="chapter" onchange="setChap(), postQuestion()">
        <option id ="no-select" value="" selected>Choose a Chapter</option>
        <div class="chaps">choose</div>
    </select>
    <span id = "page">  </span>
    <div class="chapters">
      <ul id= "chapters" class="chapter"></ul>
      <label for="new-chapter">Chapter Name</label>
      <input id="new-chapter" type="text"/>
      <p id="chapter-message"></p>
      <label for="chapter-page">Page Number</label>
      <input id="chapter-page" type="text"/>
      <p id="chap-page-message"></p>
      <button class="add-chapter" id="add-chapter" onclick="postChapter()">ADD CHAPTER</button>
    </div>

  </div>
<div class="sections">
<ul id= "tags" class="tags"></ul>
<label for="new-section">Section Name</label>
<input id="new-section" type="text"/>
<p id="section-message"></p>
<label for="section-page">Page Number</label>
<input id="section-page" type="text"/>
<p id="page-message"></p>
<button class="add-section" id="add-section" onclick="postSection()">ADD SECTION</button>
</div>
</div>

  <div class="pdf-container">
    <embed src="{{ url_for('pdf_object_operations', pdf_id=pdf_id) }}" type="application/pdf" width="100%" height="100%" />
  </div>
  <div class="content">

    <div class="notes">
    <h1>Q & A</h1>
    <p>Use this space to <span class="red">Ask & Answer Questions</span></p>
    <div class="questions">
        <input type="text" class="question" id="question">
        <button onclick="postQuestion()">ADD</button>
        <p id="question-message"></p>
        <ul class="questions-list" id="questions-list"></ul>
    </div>
    <button class="review" onclick="goRead()">Next: Read & Recite</button>
</div>
  </div>
</main>
</div>
  <script>
    const pdf_id = "{{ pdf_id }}";
    let chap_id = "{{ chapter_id }}";
    let tag_id = "{{ section_id }}";
    </script>

  <script src="{{url_for('static', filename='loadingTags.js')}}">
  </script>
    <script src="{{url_for('static', filename='surveyQuestion.js')}}">
  </script>

</body>
</html>
